/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/dollar-variable-empty-line-before */
@use '../utils/utils.scss' as *;
@use '../utils/variables.scss' as *;
@use 'sass:map';

$thickness: (
  't': 100,
  'xl': 200,
  'l': 300,
  'r': 400,
  'm': 500,
  's': 600,
  'b': 700,
);

$typography: (
  h1: (
    font-family: $font-family-default,
    font-size: 24,
    line-height: 36,
  ),
  h2: (
    font-family: $font-family-default,
    font-size: 18,
    line-height: 27,
  ),
  s1: (
    font-family: $font-family-default,
    font-size: 16,
    line-height: 24,
  ),
  s2: (
    font-family: $font-family-default,
    font-size: 14,
    line-height: 20,
  ),
);

$typography-mobile: (
  h1: (
    font-family: $font-family-default,
    font-size: 1,
    line-height: 1,
  ),
  h2: (
    font-family: $font-family-default,
    font-size: 1,
    line-height: 1,
  ),
  s1: (
    font-family: $font-family-default,
    font-size: 1,
    line-height: 1,
  ),
  s2: (
    font-family: $font-family-default,
    font-size: 1,
    line-height: 1,
  ),
);

@mixin typography($name, $fWeight: 'r') {
  $styles: map.get($typography, $name);

  font-family: map.get($styles, font-family);
  font-size: em(map.get($styles, font-size));
  font-weight: map.get($thickness, $fWeight);
  line-height: calc(
    map.get($styles, line-height) / map.get($styles, font-size)
  );
  text-transform: map.get($styles, text-transform);

  @if map.has-key($styles, letter-spacing) {
    $letterSpacing: map.get($styles, letter-spacing);

    letter-spacing: #{$letterSpacing}em;
  }
}

@mixin typography-mobile($name, $fWeight: 'r') {
  $styles: map.get($typography-mobile, $name);

  font-family: map.get($styles, font-family);
  font-size: em(map.get($styles, font-size));
  font-weight: map.get($thickness, $fWeight);
  line-height: calc(
    map.get($styles, line-height) / map.get($styles, font-size)
  );
  text-transform: map.get($styles, text-transform);

  @if map.has-key($styles, letter-spacing) {
    $letterSpacing: map.get($styles, letter-spacing);

    letter-spacing: #{$letterSpacing}em;
  }
}

@mixin h1($weight: 'r') {
  @include typography('h1', $weight);

  // @include media-breakpoint-down(sm) {
  //   @include typography-mobile('h1', $weight);
  // }
}

@mixin h2($weight: 'r') {
  @include typography('h2', $weight);

  // @include media-breakpoint-down(sm) {
  //   @include typography-mobile('h2', $weight);
  // }
}

@mixin s1($weight: 'r') {
  @include typography('s1', $weight);

  // @include media-breakpoint-down(sm) {
  //   @include typography-mobile('s1', $weight);
  // }
}

@mixin s2($weight: 'r') {
  @include typography('s2', $weight);

  // @include media-breakpoint-down(sm) {
  //   @include typography-mobile('s2', $weight);
  // }
}
